{% extends 'base.html' %}
{% block content %}
{% load custom_tag %}
{% load static %}

<h2>{{ task.title }}</h2>
<p>Status: 
    <span class="status-label {{ task.status }}">
        {{ task.get_status_display }}
    </span>
</p>

<p class="task-desc">{{ task.description }}</p>
<h2>Комментарии:</h2>

<div class="comments">
    {% for comment in task.comments.all %}
    <div class="comment">
        <div class="comment-author">
            {{ comment.author.username }}
        </div>
        <div class="comment-content">
            {{ comment.content }}
            {% if comment.media %}
                <div>
                    {% if comment.media.url|endswith:'.jpg' or comment.media.url|endswith:'.png' or comment.media.url|endswith:'.jpeg' %}
                        <img src="{{ comment.media.url }}" style="max-width: 500px;">
                    {% elif comment.media.url|endswith:'mp4' %}
                        <video width="320" height="240" controls>
                            <source src="{{ comment.media.url }}" type="video/mp4">
                        </video>
                    {% else %}
                        <a href="{{ comment.media.url }}">Скачать файл</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>

        <!-- Поле редактирования скрытое -->
        <div class="comment-edit-form" style="display:none;">
            <textarea class="edit-content">{{ comment.content }}</textarea>
            <div class="edit-buttons">
                <button class="save-edit-btn" data-url="{% url 'comment-update' comment.pk %}">Сохранить</button>
                <button class="cancel-edit-btn">Отмена</button>
            </div>
        </div>


        <div class="comment-actions">
            <span class="edit-comment-btn" data-author-id="{{ comment.author.id }}">Изменить</span>
            <span class="delete-comment-btn" data-url="{% url 'comment-delete' comment.pk %}">×</span>
        </div>
    </div>
    {% empty %}
    <p>Комментариев пока что нет...</p>
    {% endfor %}
</div>

<div class="add-comment">
    <h4>Добавить комментарий</h4>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        {{ comment_form.non_field_errors }}
    
        <div class="form-field">
            {{ comment_form.content.errors }}
            {{ comment_form.content }}
        </div>
    
        <div class="form-field">
            {{ comment_form.media.errors }}
            {{ comment_form.media }}
        </div>
    
        <button type="submit">Опубликовать</button>
    </form>
    
</div>

<script src="{% static 'js/comment_delete_confirm.js' %}"></script>
<script src="{% static 'js/comment_edit.js' %}"></script>

{% endblock %}
